<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
   <link rel="alternate" type="application/atom+xml" href="{{ site.path }}/feed.xml" title="News Feed">
</head>
<body>


<link rel="me" href="https://indieweb.social/@alexesc" />
<link rel="me" href="https://social.librem.one/@alexesc" />
<link rel="me" href="https://medium.com/blog-post-highlights" />
<link rel="me" href="https://keybase.io/alexesc" />
<link rel="me" href="https://twitter.com/alex_esc_tweets" />
<link rel="me" href="https://github.com/alex-esc" />
<link rel="me" href="https://www.reddit.com/user/alex_esc" />
<link rel="me" href="https://micro.blog/alexesc" />

<!--

<link rel="me" href="" />

-->
	
<link rel="webmention" href="https://webmention.io/alex-esc.github.io_posts_/webmention" />
<link rel="pingback" href="https://webmention.io/alex-esc.github.io_posts_/xmlrpc" />
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="microsub" href="https://aperture.p3k.io/microsub/394">

<div class="container">
<header class="masthead">
   <h3 class="masthead-title">
     <a href="{{ site.path }}">{{ site.title }}</a>
      <small>
        &nbsp;&nbsp;&nbsp;<a href="{{ site.other.music }}">music</a>
     </small>
     <small>
       &nbsp;&nbsp;&nbsp;<a href="{{ site.other.video }}">video</a>
     </small>
     <small>
       &nbsp;&nbsp;&nbsp;<a href="{{ site.other.about }}">about</a>
     </small>
	 <small>
       &nbsp;&nbsp;&nbsp;<a href="{{ site.other.posts }}">posts</a>
     </small>
   </h3>
</header>

<div id="content">
  {{ content }}
</div>



</div><!-- .container -->
</body>
</html>
